<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joinUser</title>

<!-- bootstrap5 cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!-- bootstrap5 cdn-->

<!-- JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- JQuery-->
</head>
<body>
    <div>
    
    <form class = "d-grid gap-2 col-4 mx-auto" role="form" th:action="@{/user/joinMember}" th:object="${memberForm}" method="post"
    style="margin-top:5%">
        <div class="form-group">
            <label >이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="사용자 이름">
        </div>

        <div class="form-group">
            <label>아이디</label>
            <input type="text" th:field="*{loginId}" class="form-control" id="loginId" placeholder="아이디">
        </div>

        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호">
        </div>

        <div class="form-group">
            <label>전화번호</label>
            <input type="text" th:field="*{phone}" class="form-control" placeholder="전화번호">
        </div>

        <div class="form-group">
            <label>시</label>
            <input type="text" th:field="*{si}" class="form-control" placeholder="시">
        </div>

        <div class="form-group">
            <label>군/구</label>
            <input type="text" th:field="*{gu}" class="form-control" placeholder="군/구">
        </div>

        <div class="form-group">
            <label>동</label>
            <input type="text" th:field="*{dong}" class="form-control" placeholder="동">
        </div>

        <button type="submit" class="btn btn-primary" id ="submitBtn" disabled>회원가입</button>
        
    </form>
    <button class="btn btn-primary btn-sm" role="button" id="idCheckBtn" style="float: right; margin-right: 27%; margin-top:-36.5%">중복확인 </button>
</div>
</body>
<script>
    $(document).on('click','#idCheckBtn',function()
    {
        console.log("hi");
        var id = $("#loginId").val();
        console.log(id);
        $.ajax({
            url:'/v1/check/id/',
            method: "GET",
            data:{loginId:id},
            success:function(data)
            {
                console.log("start");
                if(data.isDuplicate)
                {
                    alert("중복된 아이디입니다.");
                }
                else
                {
                    alert("사용 가능한 아이디입니다.");
                    document.getElementById('submitBtn').disabled = false;
                }
                console.log("done");
            }
        })
    });

</script>
</html>