<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="header">
  <div>
    <span>
      <!-- <img src='https://drive.google.com/uc?id=1s2zxtx_3NiUM3pqqMGxTR9OgXlYakPfI'> -->
      <img src='Users/jonghyuklee/study/bbookk/src/main/resources/img/main_icon.png' alt="로고">
      쀾
    </span>
    <span style="float:right">
      <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/member/myPage'">마이페이지</button>
      <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/logout'">로그아웃</button>
    </span>
  </div>
</div>

</html>